*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62,5%;     /*Equivale 10px*/
}
body{
    font-family: 'time news roman';
    
}

h1{
    color: hwb(283 2% 61%); 
    font-size: 9.6rem;
    font-weight: 900;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto';
}
h2{
    font-size: 6.4rem;
}

.bg{
  
    height: 100vh;
    width: 100vw;
    
    background-color: aqua ;
    background-image: url('https://images.unsplash.com/photo-1717896239727-3e10d87ad412?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNXx8fGVufDB8fHx8fA%3D%3D');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-attachment: fixed;
    
}

p{
    font-size: 1.8rem;
    font-size: medium;
    text-align: justify;
    text-indent: 90px;
  
}

a{
    font-size: 2.4rem;
    color: red;
}

a:visited{
    color: greenyellow;
}

